includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - domain
    excludePaths:
        - app/Http/Controllers/GitLabOAuthController.php
    level: 5
    checkMissingIterableValueType: false
