@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blob {
    background-image: url('/svgs/blob.svg')
}

@media (prefers-color-scheme: dark) {
    .bg-blob {
        background-image: url('/svgs/blob-dark.svg')
    }
    .code-light {
        display:none;
    }
}

@media (prefers-color-scheme: light) {
    .code-dark {
        display:none;
    }
}

.hero-waves {
    background-image: url('/svgs/hero-waves.svg')
}

.dashboard-assignments {
    height: calc(100vh - 150px);
}

.exercise-assignments {
    height: calc(100vh - 370px);
}

.vh50 {
    height: 50vh;
}

.vh60 {
    height: 60vh;
}

.max-vh60 {
    max-height: 60vh;
}

.vh70 {
    height: 70vh;
}

.max-vh70 {
    max-height: 70vh;
}

.vh80 {
    height: 80vh;
}

.max-vh80 {
    max-height: 80vh;
}

.prose-sm a {
    text-decoration: underline;
}

.prose-sm ol {
    padding: 20px;
    list-style-type: decimal;
}

.prose-sm ul {
    padding: 20px;
    list-style-type: disc;
}

.prose-sm ul > li {
    padding-left: 0;
}

.prose-sm ol > li {
    padding-left: 0;
}

.nav-item-selected::before {
    content: " ";
    position: relative;
    background-color: limegreen;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
}

@layer components {
    .disabled-btn {
        @apply bg-gray-600 px-2 py-2 text-sm font-semibold rounded text-gray-200 transition-colors shadow-sm cursor-not-allowed opacity-50
    }

    .active-btn {
        @apply bg-lime-green-400 hover:bg-lime-green-500 focus:ring-lime-green-300 text-white py-2 px-2 rounded
    }
}
