@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blob {
    background-image: url('/svgs/blob.svg')
}

@media (prefers-color-scheme: dark) {
    .bg-blob {
        background-image: url('/svgs/blob-dark.svg')
    }
    .code-light {
        display:none;
    }
}

@media (prefers-color-scheme: light) {
    .code-dark {
        display:none;
    }
}

.hero-waves {
    background-image: url('/svgs/hero-waves.svg')
}

.dashboard-assignments {
    height: calc(100vh - 230px);
}

.exercise-assignments {
    height: calc(100vh - 450px);
}

.vh50 {
    height: 50vh;
}

.vh60 {
    height: 60vh;
}

.max-vh60 {
    max-height: 60vh;
}

.vh70 {
    height: 70vh;
}

.max-vh70 {
    max-height: 70vh;
}

.vh80 {
    height: 80vh;
}

.max-vh80 {
    max-height: 80vh;
}

.prose-sm a {
    text-decoration: underline;
}

.prose-sm ol {
    padding: 20px;
    list-style-type: decimal;
}

.prose-sm ul {
    padding: 20px;
    list-style-type: disc;
}

.prose-sm ul > li {
    padding-left: 0;
}

.prose-sm ol > li {
    padding-left: 0;
}
