name: Formatting

on:
  pull_request:
    branches: [trunk]
permissions:
  checks: write
  contents: write
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.1'
      - uses: actions/checkout@v2
      - name: Install php-cs-fixer
        run: composer global require friendsofphp/php-cs-fixer
      - name: Check formatting
        run: php-cs-fixer fix --dry-run --diff
